<div id="<%= dom_id profile %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= profile.user_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Bio:</strong>
    <%= profile.bio %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Course:</strong>
    <%= profile.course %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Institution:</strong>
    <%= profile.institution %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Github:</strong>
    <%= profile.github %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Linkedin:</strong>
    <%= profile.linkedin %>
  </div>
</div>
